* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  color: white;
  background: #020617;
}

/* NAVBAR */
nav {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 18px 40px;
  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(12px);
  z-index: 1000;
}

nav h2 {
  color: #60a5fa;
  text-shadow: 0 0 10px #3b82f6;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: #60a5fa;
}

#menu-btn {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

/* HERO */
.hero {
  height: 100vh;
  background: url("background.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.55);
}

.hero-content {
  position: relative;
  z-index: 1;
  padding: 40px;
  backdrop-filter: blur(10px);
  border-radius: 15px;
}

.hero h1 {
  font-size: 3rem;
  text-shadow: 0 0 20px #3b82f6;
}

/* BUTTON */
.btn {
  background: linear-gradient(45deg,#3b82f6,#9333ea);
  padding: 12px 26px;
  border-radius: 30px;
  color: white;
  text-decoration: none;
  display: inline-block;
  margin-top: 15px;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px #3b82f6;
}

/* SECTIONS */
section {
  padding: 90px 20px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #60a5fa;
}

/* PROJECT CARDS */
.project-card {
  background: rgba(30,41,59,0.7);
  margin: 20px auto;
  padding: 25px;
  border-radius: 15px;
  width: 80%;
  backdrop-filter: blur(10px);
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 25px rgba(59,130,246,0.5);
}

/* REVEAL */
.reveal {
  opacity: 0;
  transform: translateY(60px);
  transition: 0.8s ease;
}

.reveal.show {
  opacity: 1;
  transform: translateY(0);
}

/* MOBILE */
@media (max-width: 768px) {
  #menu-btn {
    display: block;
  }

  #nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    background: rgba(0,0,0,0.9);
    flex-direction: column;
    width: 200px;
    display: none;
    padding: 20px;
  }

  #nav-links.active {
    display: flex;
  }
}

/* LOADER */
#loader {
  position: fixed;
  inset: 0;
  background: #020617;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.8s ease, visibility 0.8s;
}

#loader h1 {
  font-size: 3rem;
  color: #60a5fa;
  text-shadow: 0 0 20px #3b82f6;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {opacity:.5;transform:scale(.95);}
  50% {opacity:1;transform:scale(1.05);}
  100% {opacity:.5;transform:scale(.95);}
}

#loader.hidden {
  opacity: 0;
  visibility: hidden;
  }
